body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */
#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */
#Mis-trabajos .project-card {
  transition: transform 0.3s;
}

#Mis-trabajos .project-card:hover {
  transform: scale(1.05);
}

#Mis-trabajos .card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#Mis-trabajos .card .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

#Mis-trabajos .card .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Contacto */
#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}